@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-primary: #2C3930;
  color-scheme: light only;
}


/* Force light mode regardless of system preference */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light only;
  }
}